<?xml version="1.0" encoding="utf-8" ?>
<proxy xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="http://webapiproxy.github.io/schemas/client-config.xsd"
      namespace="UOKO.Rental.Api.Client"
       generateOnBuild ="1"
       endpoint="http://api.systemset.uoko.ioc/api/proxies"

/>